.row
  .col-sx-6.col-sm-6.col-md-6.choice-1
    = button_to "#{@choices[@i][0]}", controller: 'learn_sessions', :action => 'check_answer', learn_session_id: @learn_session.id, index: @i,  :user_answer => @choices[@i][0]
  .col-sx-6.col-sm-6.col-md-6.choice-2
    = button_to "#{@choices[@i][1]}", controller: 'learn_sessions', :action => 'check_answer', learn_session_id: @learn_session.id, index: @i,  :user_answer => @choices[@i][1]
.row
  .col-sx-6.col-sm-6.col-md-6.choice-3
    = button_to "#{@choices[@i][2]}", controller: 'learn_sessions', :action => 'check_answer', learn_session_id: @learn_session.id, index: @i,  :user_answer => @choices[@i][2]
  .col-sx-6.col-sm-6.col-md-6.choice-4
    = button_to "#{@choices[@i][3]}", controller: 'learn_sessions', :action => 'check_answer', learn_session_id: @learn_session.id, index: @i,  :user_answer => @choices[@i][3]
