= form_for @learn_session do |f|
  - if @learn_session.errors.any?
    #error_explanation
      %h2= "#{pluralize(@learn_session.errors.count, "error")} prohibited this learn_session from being saved:"
      %ul
        - @learn_session.errors.full_messages.each do |msg|
          %li= msg

  .actions
    = f.submit 'Save'
