= form_for @word do |w|
  = render 'shared/error_messages'
  .form-group
    = w.label t("word_name")
    = w.text_field :name, class: "form-control"
  %br
  .field
    = w.label t("word_description")
    = w.text_area :description, class: "form-control"
  .field
    - categories = Category.where('type_de' => 'syntax')
    = w.label t("word_syntactical_category")
    = w.select :syntactical_category, options_for_select(categories.collect{|c| [c.name_de, c.id]})
  .field
    = w.label t("word_semantical_category")
    %br
      %span
        - categories = Category.where(type_de: 'semantical')
        = select_tag 'word[semantical_categories_ids][]', options_for_select( categories.collect{|c| [c.name_de, c.id]}, { include_blank: true})
  %br
  .btn.btn-primary.btn-block
    = w.submit t("save"), :class => 'no-border'
  %br
.row
  .col-md-2.col-md-offset-5
    %a.btn.btn-primary.btn-block{:href => words_path, :role => "button"}
      =t('back')


:javascript
  var listEntry = "<span>#{j select_tag 'word[semantical_categories_ids][]', options_for_select(Category.all.collect{|c| [c.name_de,c.id]}, { include_blank: true})}"
  + "#{j image_tag '/images/icons/bullet_toggle_minus.png', :title =>'delete', :onclick => '$(this).closest(\'span\').remove()', :class => 'delete_button_array_list'}</span>";