= form_for @word do |w|
  - if @word.errors.any?
    #error_explanation
      %h2= "#{pluralize(@word.errors.count, "error")} prohibited this word from being saved:"
      %ul
        - @word.errors.full_messages.each do |msg|
          %li= msg

  .field
    = w.label :name_de
    = w.text_field :name_de
  .field
    = w.label :description_de
    = w.text_area :description_de
  .field
    - categories = Category.where('type_de' => 'syntax')
    = w.label :syntactical_category_de
    = w.select :syntactical_category_de, options_for_select(categories.collect{|c| [c.name_de]})
  .field
    = w.label "Semantical Categories"
    - categories = Category.where('type_de' => 'semantical')
    = w.select :semantical_categories_de, options_for_select(categories.collect{|c| [c.name_de]}),:include_blank => true
  .btn.btn-primary.btn-block
    = w.submit 'Save', :class => 'no-border'



