%h1
  = t('words_overview')
.row
  / this if for later you will cann select, what category you want to see, but need js or that
  .col-lg-12
    - categories_array = Category.where(language: locale).map { |category| category.name}
    = select_tag :name, options_for_select(categories_array), {:onchange => 'this.form.submit()'}

.row
  .col-lg-12
    .center-block
      .digg_pagination
        = will_paginate @words
    / this i think this function should be later only visible for admins
    .pull-right
      = link_to content_tag(:span, ' ', title: t('export_to_csv'), :class => 'fa fa-download',:aria => {:hidden => "true"}), words_export_path(format: "csv")

    -for w in @words
      .panel.panel-default
        .panel-heading
          = w.name
          .btn.btn-default.btn-xs.pull-right
            = link_to t('show'), word_path(w), :method => :get
          .btn.btn-default.btn-xs.pull-right
            =link_to t('edit'), edit_word_path(w)
          / todo use ajax to remove word from DB
          .btn.btn-default.btn-xs.pull-right
            = link_to t('delete'), w, method: :delete, data: { confirm: t('confirmation_question') }
        .panel-body
          = w.description
    .center-block
      .digg_pagination
        = will_paginate @words