%h1 Overview Flash Cards
.row
  -# this if for later
  .col-lg-12
    - categories_array = Category.all.map { |category| category.name_de}
    = select_tag :category_name_de, options_for_select(categories_array), {:onchange => 'this.form.submit()'}

.row
  .col-lg-12
    -for w in @word
      .panel.panel-default
        .panel-heading
          = w.name_de
          .btn.btn-default.btn-xs.pull-right
            = link_to "Show", word_path(w), :method => :get
          .btn.btn-default.btn-xs.pull-right
            =link_to 'Edit', edit_word_path(w)
          .btn.btn-default.btn-xs.pull-right
            = link_to "delete", w, method: :delete, data: { confirm: "You sure?" }
        .panel-body
          = w.description_de