%h2 New word
=form_for @word do |w|
  = w.label 'Wort'
  %br
  = w.text_field :name_de
  %br
    = w.label 'Description'
    %br
    = w.text_area :description_de
  %br
    = w.label "Syntacitacl Category"
    %br
    = w.text_field :syntactical_category_de
  %br
    = w.label "Semantical Categories"
  %br
    .form-group
      - categories_array = Category.all.map{ |category| category.name_de}
      = w.select(:semantical_categories_de, options_for_select(categories_array),{}, {:class => 'form-control'})
  %br
    = w.submit



