%h1=@word.name
= link_to 'Back', words_path
.row
.col-lg-12.flash-card-content
  = @word.description
.row.border-between
.col-lg-6.flash-card-sub-heading.border-right
  Syntactical Category
  .row
    .col-lg-12.flash-card-content.border-right
      = @word.syntactical_category

.col-lg-6.flash-card-sub-heading
  Semantical Category
  .row
    .col-lg-12.flash-card-content
      = @word.semantical_categories

.row
  .col-lg-12
    %br
    - if @word.id != Word.asc(:id).first
      .btn.btn-default.btn-xs
        = link_to 'Karte zurück', Word.get_previous_word(@word)

    - if @word.id != Word.asc(:id).last
      .btn.btn-default.btn-xs.pull-right
        = link_to  'Nächste Karte', Word.get_next_word(@word)