%h1=@word.name_de
.row
.col-lg-12.flash-card-content
  = @word.description_de
.row.border-between
.col-lg-6.flash-card-sub-heading.border-right
  Syntactical Category
  .row
    .col-lg-12.flash-card-content.border-right
      = @word.syntactical_category_de

.col-lg-6.flash-card-sub-heading
  Semantical Category
  .row
    .col-lg-12.flash-card-content
      = @word.semantical_categories_de

.row
  .col-lg-12
    - unless  @word.id == Word.first.id
      .btn
        = link_to 'Previous', Word.get_previous_word(@word)
    - unless  @word.id == Word.last.id
      = link_to  'Next', Word.get_next_word(@word)