%h1 Overview Categories
.table-responsive
  %table.table
    %thead
      %tr
        %th
          = t('category_name')
        %th
          = t('category_description')
        %th
          = t('category type')
    %tbody
      -for c in @category
        %tr
          %td
            = c.name locale
          %td
            = c.description locale
          %td
            = c.category_type
          %td
            =link_to 'Edit', edit_category_path(c)
          %td
            = link_to "delete", c, method: :delete, data: { confirm: "You sure?" }