.row
  .col-lg-12
    %h1
      = t('greeting_text_heading')
.row
  .col-lg-12
    %p
      = t('greeting_text_start')
    %br
.row
  .col-lg-6
    %ol
      %li
        = t('greeting_text_ol_li_1')
      %li
        = t('greeting_text_ol_li_2')
      %li
        = t('greeting_text_ol_li_3')
    %p
      %br
      = t('greeting_text_end')
    %br
  .col-lg-6
    = image_tag('medlang_concept.jpg', height: '180', width: '165')
