.row
  .col-md-12
    %h1.text-center
      = t('greeting_text_heading')
.row
  .col-md-12
    %p
      = t('greeting_text_start')
    %br
.row
  .col-md-6
    %ol
      %li
        = t('greeting_text_ol_li_1')
      %li
        = t('greeting_text_ol_li_2')
      %li
        = t('greeting_text_ol_li_3')
    %p
      %br
      = t('greeting_text_end')
    %br
  .col-md-6
    .pull-left
      = image_tag('medlang_concept.jpg', height: '180', width: '165')
.row
  .col-md-12.text-center
    .btn.btn-primary
      %h1
        = link_to t('learnSession_start'), learn_sessions_path, method: :post
        = link_to content_tag(:i, nil, class: 'fa fa-play-circle', title: t('learnSession_start')), learn_sessions_path, method: :post
